In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
response = requests.get('https://btech-data-analytics.github.io/bridgerland-technical-college/bookstore.html').text

In [3]:
soup = BeautifulSoup(response, 'html.parser')

In [4]:
isbn = []
title = []
author = []
language = []
pages = []
topic = []
price = []

for book in soup.find('table').find_all('tr', class_='book'):
    isbn.append(book.find_all('td')[0].text)
    title.append(book.find_all('td')[1].text)
    author.append(book.find_all('td')[2].text)
    language.append(book.find_all('td')[3].text)
    pages.append(book.find_all('td')[4].text)
    topic.append(book.find_all('td')[5].text)
    price.append(book.find_all('td')[6].text)

In [5]:
df = pd.DataFrame({
    'isbn': isbn,
    'title': title,
    'author': author,
    'language': language,
    'pages': pages,
    'topic': topic,
    'price': price
})

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   isbn      15 non-null     object
 1   title     15 non-null     object
 2   author    15 non-null     object
 3   language  15 non-null     object
 4   pages     15 non-null     object
 5   topic     15 non-null     object
 6   price     15 non-null     object
dtypes: object(7)
memory usage: 972.0+ bytes

In [9]:
df['pages'] = df['pages'].astype(int)
df['price'] = df['price'].str.split('$').str[-1].str.replace(',', '').astype(float)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   isbn      15 non-null     object
 1   title     15 non-null     object
 2   author    15 non-null     object
 3   language  15 non-null     object
 4   pages     15 non-null     int64
 5   topic     15 non-null     object
 6   price     15 non-null     float64
dtypes: float64(1), int64(1), object(5)
memory usage: 972.0+ bytes

In [12]:
#Q1 "Which author has the most books listed at Bob's Bookstore?"
df['author'].value_counts()

author
Penelope Wainwright    4
Jasper Sterling        2
Benjamin Barkley       2
Maximilian Thorne      1
Celeste Nightshade     1
Isadora Harrington     1
Seraphina Montague     1
Sophie Shepherd        1
Oliver Obedience       1
Ruby Ruffington        1
Name: count, dtype: int64

In [13]:
#Q2 "Which is the most popular topic among books at Bob's Bookstore (which topic occurs most frequently)?"
df['topic'].value_counts()

topic
Cats    10
Dogs     5
Name: count, dtype: int64

In [14]:
#Q3 "Which topic of books is the most expensive, on average?"
df.groupby('topic')['price'].mean()

topic
Cats    17.79
Dogs    26.59
Name: price, dtype: float64

In [15]:
#Q4 "Which topic of book has the most pages, on average?"
df.groupby('topic')['pages'].mean()

topic
Cats    238.4
Dogs    256.0
Name: pages, dtype: float64